<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
<bean id="pers" class="exemplu11.Persoana">
<constructor-arg value="ana"/>
<constructor-arg value="20"/>
</bean>
<bean id="angajat" class="exemplu11.Angajat" parent="pers">
<constructor-arg value="1"/>
</bean>
</beans>